/.vscode
/.zed
/target
/src/lib/target/
/www/opensearch.xml
/docker/certs
/docker/*.tar
*pem
/ok
container/templates/opensearch.xml
*.tgz
user.json
config.toml
.env
test_config.json
ado-update.json
/Cargo.lock
/*.log
