[workspace]
resolver = "2"
members = ["src/bin/ado", "src/lib/adolib"]

[workspace.package]
version = "0.2.0"
edition = "2024"

[workspace.dependencies]
adolib = { path = "src/lib/adolib" }
async-trait = "0.1"
base64 = "0.22"
bytes = "1.11"
chrono = "0.4"
clap = { version = "4.5", features = ["derive", "suggestions"] }
colored = "3.1"
console_error_panic_hook = "0.1"
derive_more = { version = "2.1", features = ["debug", "display", "from"] }
directories = "6.0"
fern = "0.7"
figlet-rs = "0.1"
getrandom_js = { package = "getrandom", version = "0.2", features = ["js"] }
glob = "0.3"
gloo-utils = "0.2"
home = "0.5"
log = "0.4"
md5 = "0.8"
# omcp = "0.1"
omcp = { version = "0.2", features = ["client"] }
ratatui = { version = "=0.29.0", default-features = false, features = [
  "crossterm"
] }
reqwest = { version = "0.13", features = ["json", "query"] }
ring = { version = "0.17" }
rstaples = "0.4.1"
rust-embed = { version = "8.11", features = ["debug-embed"] }
rustyline = { version = "17.0", features = [
  "derive",
  "rustyline-derive",
  "termios",
  "with-fuzzy",
] }
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
shell-words = "1.1"
shellexpand = "3.1"
sled = "0.34"
spinner = "0.5"
syntect = { version = "5.3", default-features = false, features = [
  "default-syntaxes",
  "default-themes",
  "regex-fancy"
] }
tempfile = "3.25"
tokio = { version = "1.49", default-features = false, features = [
  "macros",
  "test-util",
  "tokio-macros"
] }
toml = "0.9"
tui-textarea = { version = "0.7", default-features = false, features = [
  "crossterm",
  "ratatui"
] }
uuid = { version = "1.20", features = ["v4"] }
vergen-git2 = { version = "9.1", features = ["build"] }
wait-timeout = "0.2"
walkdir = "2.5"
wasm-bindgen = "0.2"
wasm-bindgen-futures = "0.4"
web-sys = { version = "0.3" }
which = "8.0"
whois-rust = "1.6"
x11rb = "0.13"

[profile.release]
opt-level = "s"
lto = true
