[workspace]
members = ["src/bin/ado", "src/lib/adolib"]
resolver = "2"


[workspace.dependencies]
clap = { version = "4.5", features = ["derive", "suggestions"] }
log = "0.4"
base64 = "0.22"
bytes = "1.11"
colored = "3.0"
derive_more = { version = "2.1", features = ["debug", "from", "display"] }
glob = "0.3"
reqwest = { version = "0.12" }
rust-embed = { version = "8.9", features = ["debug-embed"] }
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
shell-words = "1.1"
spinner = "0.5"
chrono = "0.4"
shellexpand = "3.1"
tokio = { version = "1.48", features = [
    "macros",
    "tokio-macros",
    "test-util",
    "process"
] }
wait-timeout = "0.2"
toml = "0.9"
walkdir = "2.5"
which = "8.0"
whois-rust = "1.6"
x11rb = "0.13"
rustyline = { version = "17.0", features = [
    "derive",
    "rustyline-derive",
    "termios",
    "with-fuzzy",
] }
home = "0.5"
getrandom_js = { package = "getrandom", version = "0.2", features = ["js"] }
wasm-bindgen = "0.2"
ring = { version = "0.17", features = ["wasm32_unknown_unknown_js"] }
wasm-bindgen-futures = "0.4"
adolib = { path = "src/lib/adolib" }
console_error_panic_hook = "0.1"
web-sys = { version = "0.3" }
gloo-utils = "0.2"
rstaples = "0.1"
md5 = "0.8"
uuid = { version = "1.19", features = ["v4"] }
vergen-git2 = { version = "1.0", features = ["build"] }
async-trait = "0.1"
sled = "0.34"
tempfile = "3.23"
fern = "0.7"
#omcp = { path = "../omcp" }
omcp = "0.1"
directories = "6.0"
figlet-rs = "0.1"

[profile.release]
lto = true
opt-level = 's'
